@model IEnumerable<FullCalenderApp.Models.Color>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-active table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColorName)
            </th> 
            <th>
                Actions
            </th>  
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColorId)
            </td>
                <td style="background-color: @item.ColorName;">
                    @Html.DisplayFor(modelItem => item.ColorName)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ColorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ColorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ColorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
